/* hier komt de specifieke styling van een blok */

.block.block-1{
   transform: rotate(0deg);
}

@include tablet-landscape{
    .block.block-1{
       transform: rotate(0deg);
    }
}

@include tablet-portrait{
    .block.block-1{
       transform: rotate(0deg);
    }
}

@include mobile-landscape{
    .block.block-1{
       transform: rotate(0deg);
    }
}

@include mobile-portrait{
    .block.block-1{
       transform: rotate(0deg);
    }
}



.menu_container{
  width: 1152px;
  height: 60px;
  margin-left: -340px;
}

.logo{
    width: 214px;
    height: 60px;
    background-image: url("images/logo.png");
}

.menu_main{
  width: 768px;
  height: 60px;
  margin-top: -20px;
  margin-left:300px;
}

.menu_main a{
  font-family: DINAlternate;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}
.menu_main a:hover{
  font-family: DINAlternate;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  text-decoration: underline;
}

.menu_second{
  margin-left:1260px;
  margin-top: -60px;
}

.menu_second a{
  font-family: DINAlternate;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: right;
  color: #77296c;
}
.menu_second a:hover{
  font-family: DINAlternate;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: right;
  color: #77296c;
  text-decoration: underline;
}

ul {
  display: flex;
}
li {
  flex: 0 0 auto;
  padding-right: .8em;
}
