/* hier komt de specifieke styling van een blok */

.block.block-1{
   transform: rotate(0deg);
}

@include tablet-landscape{
    .block.block-1{
       transform: rotate(0deg);
    }
}

@include tablet-portrait{
    .block.block-1{
       transform: rotate(0deg);
    }
}

@include mobile-landscape{
    .block.block-1{
       transform: rotate(0deg);
    }
}

@include mobile-portrait{
    .block.block-1{
       transform: rotate(0deg);
    }
}



.grid-footer {
    width: 230vh;
    display: grid;
    grid-column: 1 / -4;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    border-radius:30px 0px 0px 0px;
    background-color: #333333;
    padding: 5px;
    margin-left: -400px;
    position: relative;
}


.footer{
  width: 100%;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ffffff;
  margin: 10px;
  position: relative;
  margin-left: 450px;
}

.footer a{
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;


}

.footer a:hover{
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ea5c2c;
  text-decoration: underline;

}

.footer02{
  width: 100%;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ffffff;
  margin: 10px;
  padding-left: 200px;
}

.footer02 a{
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;

}

.footer02 a:hover{
  font-family: Roboto-Regular;
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ea5c2c;
  text-decoration: underline;
}

.footer03{
  width: 100%;
  display: inline-block;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #fff;
  margin: 10px;

}
.footer03 a{
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;

}

.footer03 a:hover{
  font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #ea5c2c;
    text-decoration: underline;

}


.copy{
  width: 230vh;
  padding: 10px;
  background-color: #333333;
  border-top: #fff, solid, 1px;
  border-radius:0px 0px 0px 0px;
  background-color: #333333;
  margin-left: -400px;
  position: relative;
}

.copy-content{
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  color: #ffffff;
}
