/* hier komt de specifieke styling van een blok */

.block.block-1{
   transform: rotate(0deg);
}

@include tablet-landscape{
    .block.block-1{
       transform: rotate(0deg);
    }
}

@include tablet-portrait{
    .block.block-1{
       transform: rotate(0deg);
    }
}

@include mobile-landscape{
    .block.block-1{
       transform: rotate(0deg);
    }
}

@include mobile-portrait{
    .block.block-1{
       transform: rotate(0deg);
    }
}

.container-footer{
    width: 1920px;
    height: 466px;
    border-radius:0px 30px 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -250px;
    background-color: #333333;
}

.footer{
    padding: 40px;
    margin-left: -30px;
    color: #fff;
}

.footer a{
font-family: Roboto;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.6;
letter-spacing: normal;
color: #ffffff;
}

.footer a:hover{
font-family: Roboto;
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.6;
letter-spacing: normal;
color: #ea5c2c;
text-decoration: underline;
}

.01{
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ffffff;
  
}

.02{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ffffff;
}

.container-adres{
  width: 288px;
  height: 300px;
  display: flex;
  flex-direction: column;
  display: inline-block;
  box-sizing: border-box;
}

.03{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ffffff;
  margin:-10px;
}

.copy{
  width: 1920px;
  padding: 10px;
  background-color: #333333;
  border-top: #fff, solid, 1px;
  margin-left: -250px;
}

.copy-content{
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 450px;
}
