.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 480px;


  }
.box1 {
  background: none;
  width: 384px;
  order: 1;

}
.box2 {
  width: 384px;
  order: 2;
}
.box3 {
  width: 384px;
  order: 3;
}
.box4 {
  width: 384px;
  order: 4;
}
.container > div {
  font-size: 5vw;
  padding: .5em;
  color: #333333;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.readmore{
  margin-top: 31px;
}

h1 {
  width: 384px;
  height: 30px;
  font-family: DINAlternate;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #77296c;
}

.content01 {
  width: 384px;
  height: 48px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #333333;
}

a{ 
  font-family: DINAlternate;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #ea5c2c;
}


a:hover{
  font-family: DINAlternate;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-decoration: underline;
  color: #ea5c2c;
}
