
/* colors */
$green: #b6b028;
$purple: #77296C;
$orange: #EA5C2C;

/* defines the horizontal padding */
$h-padding-desktop: 24px;
$h-padding-mobile: 20px;

/* defines the vertical padding of blocks, basically space between blocks */
$v-padding-desktop: 96px;
$v-padding-mobile: 48px;

/* Responsive device breakpoints */
$tablet-landscape: 1050px;
$tablet-portrait: 850px;
$mobile-landscape: 641px;
$mobile-portrait: 481px;


@mixin tablet-landscape {
  @media screen and (max-width: #{$tablet-landscape}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media screen and (max-width: #{$tablet-portrait}) {
    @content;
  }
}

@mixin mobile-landscape {
  @media screen and (max-width: #{$mobile-landscape}) {
    @content;
  }
}

@mixin mobile-portrait {
  @media screen and (max-width: #{$mobile-portrait}) {
    @content;
  }
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null, $width: null, $height: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $width;
  height: $height;
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin relative($args...) {
  @include position(relative, $args...);
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}
